{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}Odiac
{% endblock %}
{% block body %}
	<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">
		ODIAC</h1>
	<h2 class="text-center text-secondary mb-4 pb-4 display-2">
		Bonjour
		{{app.user.nom}}
	</h2>
	<h2 class="text-center text-secondary mb-4 pb-4 display-2">
		Acheter du seconde main
	</h2>


	<!-- carousel -->

	<h3 class="text-center ">
		Des appareils 100% fonctionnels avec jusqu'à 90% d'émissions de CO2 en moins que le neuf.

	</h3>

	<br>
	<h4>


		<img class="d-block w-100" src="img/acceuil.jpg" alt="First slide">


	</h4>


{% endblock %}
