{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}Mentions legales
{% endblock %}
{% block body %}
	<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">
		Mentions legales
	</h1>



	<h2 class="text-center">
Mentions Légales
</br>

1. Éditeur du site
</br>
Le site internet Odiac est édité par :
</br>
Nom de l'entreprise : Odiac
</br>
Forme juridique : SARL
</br>
Capital social : 1000e
</br>
Adresse du siège social : Mericourt
</br>
RCS : 24123
</br>
SIRET : 183274363437
</br>
TVA intracommunautaire : [Numéro de TVA intracommunautaire]
</br>
Email : pena.ivann@gmail.com
</br>
Téléphone : 0601239110
</br>
	</h2>
{% endblock %}
