{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}Politque de Confidentialité
{% endblock %}
{% block body %}
	<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">
		Politque de Confidentialité
	</h1>


<h2 class="text-center">

	1. Informations que nous collectons
	</br>
Nous pouvons collecter et traiter les types de données personnelles suivants :
</br>
Informations d'identification : nom, prénom, adresse e-mail, numéro de téléphone.
</br>
Données de connexion : adresse IP, type de navigateur, heures de connexion, pages visitées.
</br>
Informations transactionnelles : détails des paiements effectués sur le Site.
</br>
Autres informations : toute autre donnée que vous choisissez de nous fournir via les formulaires de contact ou autres moyens.

</h2>


{% endblock %}
